* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .page {
        display: flex;
        flex-grow: 1;
    }
}

.main-container {
    display: flex;
    flex-direction: row;
}

.sidebar-container {
    background-color: #03293c;
}

.dashboard-container {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
}