.container {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .link {
        color: white;
        text-decoration: none;
    }

    .title {
        padding: 1rem;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;

        .link {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex: 0 0 20%;
            padding: 0.7rem 0.7rem;
            color: white;
            background-color: #03405f;
            border-radius: 2rem;
            text-decoration: none;
            cursor: pointer;
            font-size: 1.65rem;

            &:hover {
                color: #0fa3b1;

                .link {
                    color: #0fa3b1;
                }
            }

            .icon {
                display: flex;
                align-items: center;
                font-size: 2rem;
            }
        }
    }

    .single-charts {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .card {
            background-color: white;
            margin: 1rem;
            display: flex;
            flex-direction: row;
            border-radius: 0.8rem;

            .card-title {
                justify-content: center;
                text-align: center;
                color: #514a4a;
                padding: 0.5rem 0 0.5rem 1rem;
            }

            .card-details {
                text-align: center;
                color: black;
                font-weight: bolder;
                padding: 0 0 0.5rem 1rem;
                font-size: 2rem;
            }
        }
    }

    .multiple-charts {
        display: flex;

        .card {
            background-color: white;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            flex: 1;
            border-radius: 0.8rem;

            .card-title {
                font-weight: bolder;
                color: #514a4a;
                padding: 1rem 2rem 0.5rem 1.75rem;
                font-size: 1.5rem;
            }

            .card-details {
                color: black;
                font-weight: bolder;
                padding-left: 2rem;
                font-size: 2rem;
            }

            .card-chart {
                padding: 0 2rem;
            }
        }

        .referral {
            .progress-bars {
                display: flex;
                flex-direction: column;

                .progress-bar {
                    margin: 0.5rem 0;
                    display: flex;
                    flex-direction: column;

                    &.fade-in {
                        animation: fadeIn 1s ease-in-out;
                    }

                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                            transform: translateY(-20px);
                        }

                        to {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }

                    .info {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        color: #514a4a;
                        font-size: medium;
                    }

                    .bar {
                        margin-top: 0.5rem;
                        padding: 0.4rem;
                        border-radius: 0.5rem;
                    }
                }
            }

        }
    }

    .create-property {
        background-color: white;
        margin: 0 2rem;
        padding: 2rem 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.8rem;

        .label {
            display: flex;
            flex-direction: column;

            .label-text {
                font-size: 0.9rem;
                font-weight: bold;
            }

            .label-input {
                padding: 0.5rem 0;

                input,
                textarea,
                select {
                    color: #03293c;
                    padding: 0.4rem 0.5rem;
                    border: 1px solid #06496b;
                    border-radius: 0.4rem;
                    line-height: 1.5rem;
                    width: 100%;
                }
            }
        }

        .price-location-contact {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .label {
                width: 25%;
                margin-top: 0.5rem;

                input {
                    width: 98%;
                }
            }
        }


        .facilities {
            display: flex;
            flex-direction: row;
            margin: 1rem 0;
            flex-wrap: wrap;

            .label {
                flex: 0 0 25%;
                padding: 0.5rem;
                padding-right: 3rem;
                flex-direction: row;
                align-items: center;

                .label-text {
                    flex-basis: 100%;
                }
            }
        }

        .upload-submit {
            display: flex;
            flex-direction: row;

            .label {
                display: flex;
                flex: 1;
                padding: 0 0.5rem;

                .label-text {
                    margin: 0.5rem 0;
                }

                .label-input {
                    display: none;
                }
            }

            .submit {
                display: flex;
                justify-content: center;
                margin: 1rem 0 0;
                flex: 1;

                .submit-button {
                    cursor: pointer;
                    background-color: #3498db;
                    color: white;
                    border: none;
                    padding: 1rem 3rem;
                    border-radius: 1rem;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: #2980b9;
                        border: none;
                    }
                }
            }
        }
    }

    .properties {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;

        .card {
            background-color: white;
            margin: 1rem 4rem;
            padding: 1rem 1rem;
            display: flex;
            flex-direction: column;
            border-radius: 0.8rem;
            justify-content: space-between;
            text-align: center;

            .image {
                width: 12rem;

                img {
                    width: 100%;
                    border-radius: 1rem;
                    height: 10rem;
                }
            }

            .row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: center;
                font-weight: normal;
                justify-content: start;
                margin: 0.25rem 0;
                text-align: center;
                justify-content: start;
                color: black;

                .icon {
                    color: red;
                    display: flex;
                    align-items: center;
                }
            }

            .desc-price {
                font-weight: bolder;
                justify-content: space-between;
                margin-top: 1rem;

                .price {
                    background-color: #0fa3b1;
                    border-radius: 1rem;
                    padding: 0 0.5rem;
                }
            }
        }
    }

    .property-details {
        margin: 1rem;
        border-radius: 1rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex: 1;

        .details {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .property {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                flex-grow: 1;
                padding: 1rem;

                .image {
                    width: 30rem;

                    img {
                        width: 100%;
                    }

                }

                .row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 30rem;

                    .name {
                        font-size: 1.75rem;
                    }

                    .location {
                        font-weight: 300;

                        .icon {
                            color: red;
                        }
                    }

                    .price {
                        font-size: 1.5rem;
                        color: #06496b;
                    }
                }

                .description {
                    width: 30rem;
                }
            }

            .agent {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                flex-grow: 1;

                .card {
                    padding: 1rem;
                    color: black;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    gap: 0.5rem;
                    padding: 0 1rem 1rem;
                    border-bottom: 1px solid rgb(255, 6, 6);
                    border-radius: 1rem;
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

                    .image {
                        width: 20rem;

                        img {
                            border-radius: 5rem;
                            width: 100%;
                        }
                    }

                    .name {
                        font-size: 2rem;
                        font-weight: bolder;
                    }

                    .agent-title {
                        font-weight: 500;
                    }
                }

                .property-facility {
                    font-size: 1.4rem;
                    font-weight: bold;
                }

                .facilities {
                    display: flex;
                    gap: 1rem;
                    flex-wrap: wrap;

                    .facility {
                        background-color: #4ce5f3;
                        color: #06496b;
                        font-weight: bold;
                        padding: 0.5rem;
                        border-radius: 1rem;
                    }
                }

                .rate {
                    display: flex;
                    justify-content: center;
                    margin: 1rem 0 0;

                    .rate-button {
                        cursor: pointer;
                        background-color: #db3434;
                        color: white;
                        border: none;
                        padding: 1rem 3rem;
                        border-radius: 1rem;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: #2980b9;
                            border: none;
                        }
                    }
                }

            }
        }
    }

    .agent-card {
        background-color: white;
        margin: 1rem 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        border-radius: 0.8rem;
        color: black;

        .img {
            width: 8rem;
            margin-right: 3rem;

            img {
                width: 100%;
                border-radius: 2rem;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-grow: 1;

            .bolder {
                font-weight: bolder;
                color: #03293c;
            }

            .upper {
                display: flex;
                align-items: center;
                gap: 2rem;

                .agent {
                    background-color: #4ce5f3;
                    padding: 3px;
                    border-radius: 20%;
                }
            }

            .lower {
                display: flex;
                gap: 3rem;
            }
        }
    }

    .agent-profile {
        background-color: white;
        margin: 1rem 2rem;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: row;
        border-radius: 0.8rem;
        color: black;
        gap: 8rem;

        .avatar {
            width: 22rem;

            img {
                width: 100%;
                border-radius: 2rem;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: space-around;

            .field {
                font-weight: bolder;
                color: #0fa3b1;
            }

            .name {
                color: #db3434;
                font-size: 3rem;
            }
        }
    }

    .agent-property {
        background-color: white;
        margin: 1rem 2rem;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.8rem;
        color: black;

        .title {
            text-align: center;
            align-items: center;
        }

        .properties {
            display: flex;
            width: 100%;
            gap: 3rem;

            .property-card {
                display: flex;
                flex-direction: column;
                color: black;

                .img {
                    width: 10rem;

                    img {
                        width: 100%;
                        border-radius: 1rem;
                    }
                }

                .field {
                    width: fit-content;
                }

                .price {
                    background-color: #4ce5f3;
                    padding: 3px;
                    width: fit-content;
                    border-radius: 20%;
                }
            }
        }
    }
}